/****************************************************/
/******************Mobile **************************/
/****************************************************/
html {
    background-color: #D2D2D2;
    position: relative;
    margin: auto;
}

body {
    margin: 0px;
    background: #F7F7F7;
}

nav {
    background: white;
    height: 63px;
}

.Ohmyfood {
    padding-top: 16px;
    padding-bottom: 5px;
    Width: 197px;
    Height: 36px;
    margin: auto;
    display: flex;
}

.Recherche {
    height: 50px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    padding-left: 10%;
}

#Recherche-input {
    background-color: #EAEAEA;
    font-family: 'Roboto';
    font-style: normal;
    text-decoration-color: #353535;
    font-weight: 500;
    font-size: 16px;
    border: none;
}

.Reservation {
    text-align: center;
    display: block;
    margin: auto;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: auto;
    margin-top: 40px;
    height: 68px;
    width: 275px;

}


h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21.09px;
    color: #353535;
    height: 46px;
    margin-bottom: 27px;
}

.button {
    width: 218px;
    height: 50px;
    text-align: center;
    margin: auto;
    display: flex;

    /*background*/
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    /* Shadow/Button */
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    transform: matrix(1, 0, 0, -1, 0, 0);

}

/* Annimation button Reserer */
.button:hover {
    background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    cursor: pointer;
}

.explorer {
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white;
    transform: scaleY(-1);
    display: flex;
    margin: auto;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-left: 5%;
}

.directioncolumn {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 57px;
    height: 440px;
    padding-bottom: 68px;
}

.button-fonct:before {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14.1818px;
    line-height: 17px;
    content: counter(list);
    width: 40px;
    height: 40px;
    background: #9356DC;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    position: absolute;
    left: 3%;

    color: white;
}

.button-fonct {
    margin: 21px;
    padding: 25px 10%;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    gap: 23px;
    display: flex;
    counter-increment: list;
    margin-bottom: 10px;
    margin-left: 30px;
}

.button-txt {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

.button-nouveau {
    background: #99E2D0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    width: 20%;
    height: 12%;
    margin-left: 75%;
    position: absolute;
    display: flex;
    margin-top: 14px;
}

.nouveau {
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 80%;
    line-height: 16.41px;
    color: #008766;
    display: flex;
    margin: auto;

}

i.fa-solid {
    line-height: 2;
}

.fa-list-ul,
.fa-mobile-screen,
.fa-store {
    color: #7e7e7e;
    margin-left: 10px;
}

.button-fonct:hover {
    cursor: pointer;
}

.button-fonct:hover .fa-store,
.button-fonct:hover .fa-list-ul,
.button-fonct:hover .fa-mobile-screen {
    color: #9356DC;
}

.Titre-Rest {
    font-family: 'Roboto';
    font-style: normal;
    margin-left: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

#Restaurant {
    margin-top: 54px;
}

.Liste-Restaurant {
    flex-flow: column;
    justify-content: space-between;
    display: flex;
    height: fit-content;

}

.Liste-Restaurant article {
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 7px 0px #0000002e;
    margin-left: 5%;
    margin-right: 5%;
    height: 251px;
    background: white;
    margin-bottom: 18px;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
}

.Liste-Restaurant article img {
    object-fit: cover;
    width: 100%;
    height: calc(100% - 30%);
    border-radius: 25px 25px 0px 0px;
}

.Liste-Restaurant article h4 {
    font-weight: bold;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin-top: -32px;
    margin-bottom: -20px;
    margin-left: 20px;
    color: #000000;
}

.Liste-Restaurant article h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    margin-left: 20px;
    color: #000000;
}

.Footer {
    background-color: #353535;
    color: #F7F7F7;
    margin-top: 45px;
    padding: 22px 25px;

}

h3 {
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

ul {
    list-style-type: none;
    padding: 0%;
}

ul li a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 35px;
}

.contact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 35px;
    margin-left: 0px;
    text-decoration: none;
    color: #F7F7F7;
}

.fa-utensils {
    margin-right: 11px;
}

.fa-handshake-angle {
    margin-right: 8px;

}

.fa-heart {
    margin-left: 88%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
}

.fa-heart:hover {
    background: -webkit-linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    background-clip: border-box;
    -webkit-text-stroke-width: 0px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    cursor: pointer;
}

/****************************************************/
/******************Desktop **************************/
/****************************************************/
@media screen and (min-width:768px) {

    h1 {
        width: auto;
    }

    .directioncolumn {
        height: 228.38px;
    }

    .button-fonct {
        width: 24%;
        height: 72.38px;
        align-items: center;
        padding: 0px;
        gap: 14px;
    }

    .button-fonct::before {
        position: relative;
        left: -7%;

    }

    ul {
        list-style-type: none;
        justify-content: center;
        display: flex;
    }

    .Liste-Restaurant {
        flex-flow: row wrap;
        display: flex;
    }

    .Liste-Restaurant article {
        width: 40%;
    }

    .Footer {
        display: flex;
        justify-content: flex-end;
        gap: 130px;
        padding: 23px 90px;

    }

    .Footer h3 {
        flex: none;
        order: 4;
        flex-grow: 0;
    }

    .Footer ul {
        gap: 25px;
       
    }
    .fa-list-ul,
    .fa-mobile-screen,
    .fa-store {
    margin-left: -10px;
    }
}

@media screen and (min-width:769px) and (max-width:1024px) {

    .button-txt {
        font-size: 67%;
      }
      .button-fonct{
        gap:11px;
        width:25%;
      }
    
}