@media screen and (max-width: 768px) {


    .Ohmyfood {
        margin-left: 30%;
        height: 19px;
        position: absolute;
        left: 8.12%;
        right: 9.64%;
        top: 5%;
        font-family: 'Shrikhand';
        font-style: italic;
        font-weight: 400;
        font-size: 30px;
        line-height: 44px;
        text-align: center;
        color: #101010;



    }

    #Recherche {
        margin-top:55px;
        display: flex;

        height: 40px;
       
        background-color: #EAEAEA;
    

        display: flex;

        justify-content: center;
        align-items: center;
        padding: 0px;




    }

    #Recherche-input {

        font-size: 18px;
        font-weight: 700;
        background-color: #EAEAEA;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        border:none;
        padding-left: 2%;

    }

    ::placeholder {
        justify-content: center;

    }

    h1 {
        font-weight: 768;
        justify-content: center;
        font-size: 22px;
        font-style: bold;
        line-height: 30px;
        padding-left: 60px;
        padding-right: 60px;
    }

    h2 {
        font-weight: 768;
        font-size: 12px;
        line-height: 22px;
        font-style: normal;
        justify-content: center;
        padding-left: 60px;
        padding-right: 60px;
    }
   
    .button {
        margin: 10px 0px;
        padding: 8px 20px;
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        border-style: solid;
        border-width: 2px;
        box-sizing: content-box;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        margin-left: 30%;
        margin-top: 10%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        transform: matrix(1, 0, 0, -1, 0, 0);



    }

    .buttonMainColor {
        text-decoration-color: white;
    }

    .buttonRounded {
        border-radius: 39px;
    }
}